<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319928501602-a0vgv7j8oomivvj62og55oa875m4a3mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319928501602-a0vgv7j8oomivvj62og55oa875m4a3mk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319928501602-4r3l9v15nl3g5r1mvq77e9mjq03d5lag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBShwEd7nRCuxFSB6eMmNeZZf3Xzjsk-To</string>
	<key>GCM_SENDER_ID</key>
	<string>319928501602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkings</string>
	<key>PROJECT_ID</key>
	<string>uf-parking-map</string>
	<key>STORAGE_BUCKET</key>
	<string>uf-parking-map.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319928501602:ios:18530933b5c898ecef583b</string>
	<key>DATABASE_URL</key>
	<string>https://uf-parking-map-default-rtdb.firebaseio.com</string>
</dict>
</plist>