export DATABASE_URL="postgres://joe:MgwIxXDkYcwqhfcD9oOc@ec2-3-143-172-128.us-east-2.compute.amazonaws.com/burrow?sslmode=disable"
export GOOSE_MIGRATION_DIR=data/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=${DATABASE_URL}
